@model IEnumerable<Lawave.Models.lawyerAccount>

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table" >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordSalt)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.isCommunity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.googleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shot)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.verifyPhotolawyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.verifyPhotoFir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.verifyPhotoSec)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.isPublic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saying)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.introduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.professional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.faceCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCertification)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.rule)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.totalScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.initDate)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordSalt)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.isCommunity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.googleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shot)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.verifyPhotolawyer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verifyPhotoFir)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.verifyPhotoSec)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.isPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.introduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.professional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phoneCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.faceCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCertification)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.rule)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.totalScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.initDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
